# version: '3.8'
# services:
#   minio:
#     image: minio/minio
#     ports:
#       - "9000:9000"
#       - "9001:9001"
#     volumes:
#       - minio_data:/data
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     command: server /data --console-address ":9001"

#   mlflow:
#     image: ghcr.io/mlflow/mlflow
#     ports:
#       - "5000:5000"
#     environment:
#       MLFLOW_S3_ENDPOINT_URL: http://minio:9000
#       AWS_ACCESS_KEY_ID: minioadmin
#       AWS_SECRET_ACCESS_KEY: minioadmin
#     command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri postgresql://user:password@postgres:5433/mlflowdb --default-artifact-root s3://mlflow/
#     depends_on:
#       - minio
#       - postgres

#   postgres:
#     image: postgres:13
#     ports:
#       - "5433:5432"
#     environment:
#       POSTGRES_USER: user
#       POSTGRES_PASSWORD: password
#       POSTGRES_DB: mlflowdb
#     volumes:
#       - postgres_data:/var/lib/postgresql/data

# volumes:
#   minio_data:
#   postgres_data:



version: '3.8'

services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    ports:
      - "5000:5000"
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri postgresql://user:password@postgres:5432/mlflowdb --default-artifact-root s3://mlflow/
    depends_on:
      - minio
      - postgres

  postgres:
    image: postgres:13
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mlflowdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  minio_data:
  postgres_data:
